:root {
    --text-color: rgb(255, 255, 255);
    --accent-color: rgb(255, 0, 183);
    --background-color: rgb(0, 0, 0);
    --heding-color: rgb(187, 0, 255);
    --tittle-font: 'Bungee', sans-serif;
    --body-font: 'Sansita', sans-serif;
}

html {
    font-size: 100%;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    margin: 50px 50px 20px 50px;
    font-family: var(--tittle-font);
    font-size: 3rem;
}

a {
    color: var(--accent-color);
    font-size: .5em;
}

header {
    background: var(--heding-color);
    color: var(--text-color);
    text-align: left;
    margin: 50px 50px 20px 50px;
}

h1,
h2,
h3 {
    margin: 50px 50px 20px 50px;
    color: var(--accent-color);
    font-family: var(--tittle-font);
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1em;
}

p {
    font-size: 1em;
    margin: 1rem 0;
    color: var(--text-color);
    margin: 50px 50px 20px 50px;
    font-family: var(--body-font);
}

footer {
    background: var(--heding-color);
    padding: 1rem;
    text-align: center;
    margin: 2rem 0 6rem 0;
    font-family: var(--tittle-font);
    font-weight: 400;
    font-style: normal;
    margin: 50px 50px 20px 50px;
}

footer p {
    color: var(--text-color);

}