body {
    background: rgb(160, 51, 51);
    color: rgb(255, 0, 132); 
     margin: 50px 50px 20px 50px; 
     font-family: 'Sansita', sans-serif;
}
a {
    color: rgb(0, 0, 0);
}
header {
    background: rgb(0, 242, 255);
    color: rgb(245, 0, 0);
    padding: 1rem;
    text-align: left;
     margin: 50px 50px 20px 50px;
}

h1, h2, h3 {
    margin: 50px 50px 20px 50px;
    color: rgb(9, 255, 0);
    font-family: 'Bungee', sans-serif;
     font-weight: 400;
  font-style: normal;
}
p {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: rgb(255, 255, 255);
     margin: 50px 50px 20px 50px;
}
footer {
    background: rgb(0, 242, 255);
    padding: 1rem;
    text-align: center;
    margin: 2rem 0 6rem 0;
    font-family: 'Bungee', sans-serif;
     font-weight: 400;
  font-style: normal;
   margin: 50px 50px 20px 50px;
}
footer p {
    color: rgb(245, 0, 0);
    
}